<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<table>
  <tr>
    <td>
      <div class="github-card" data-github="rikes" data-width="332" data-theme="medium" data-user="rikes"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </td>
    <td>
      <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="pt_BR" data-type="horizontal" data-theme="light"
        data-vanity="henrique-santana-13a20299"><a class="LI-simple-link" href='https://br.linkedin.com/in/henrique-santana-13a20299?trk=profile-badge'>Henrique Santana</a></div>
    </td>
  </tr>
</table>